<div class="main">

  <div class="login-card">

    <h3>SignUp</h3>

    <mat-form-field appearance="outline" class ="field-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class ="field-width">
      <mat-label>Age</mat-label>
      <input matInput placeholder="Age" type="number">
    </mat-form-field>

    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline" class ="field-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" type="email">
    </mat-form-field>


    <mat-form-field appearance="outline" class ="field-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" type="email">
    </mat-form-field>


    <mat-form-field appearance="outline" class ="field-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSignupClicked()">Signup</button>


  </div>
</div>
